body {
  background-color: #fefbea;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: Arial;
  color: #2D3033;
  font-weight: bold;
  text-decoration:underline;
}

h2 {
  font-size:32px;
  text-align: center;
  font-family: Arial;
  color: #2D3033;
  font-weight: bold;
  text-decoration:underline;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: Arial;
  font-size: 16px;
  color: #2D3033;
}

ul {
  color: #807E78;
  font-family: Arial;
  font-size: 24px;
}

a:link {
  font-size: 24px;
  font-family: arial;
  color:#FF82C1;
  display: block;
  text-align:center;
  text-decoration:none;
}

a:visited {
 color:#AC4FC6;
}

a:hover {
  text-decoration:underline;
}